<h5 class="font-weight-bold mb-5">{{groupName}}</h5>
<ng-container *ngFor="let filterGroup of subgroups">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ filterGroup.translate | translate: {Default: filterGroup.subgroupName} }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-divider></mat-divider> <br />

    <ng-container *ngFor="let filterParams of filterGroup.values">
      <mat-checkbox id="{{filterGroup.checkboxName + '_' + filterParams.id}}"
                    name="{{filterGroup.value}}"
                    [(ngModel)]="filterParams.isSelected"
                    [value]="filterParams.id"
                    (change)="onStudyFilter($event, filterParams.value, filterParams.id, filterParams.translate,
                    filterGroup.fieldName, filterGroup.isNested,
                    filterGroup.path, filterGroup.type, filterGroup.subgroupName)">
        {{filterParams.translate | translate: {Default: filterParams.name} }}
      </mat-checkbox>
      <br />
    </ng-container>
    <mat-action-row>
      <button mat-button color="primary"
              (click)="selectAll(filterGroup.id, filterGroup.subgroupName)"
              style="padding-right: 15px !important; padding-left: 10px !important;"
      >
        {{'BUTTONS.SELECT-ALL' | translate: {Default: 'Select all'} }}
      </button>
      <button mat-button color="warn"
              (click)="deselectAll(filterGroup.id, filterGroup.subgroupName)"
              style="padding-right: 15px !important; padding-left: 10px !important;"
      >
        {{'BUTTONS.DESELECT-ALL' | translate: {Default: 'Deselect all'} }}
      </button>
    </mat-action-row>
  </mat-expansion-panel>
  <br />
</ng-container>
<mat-divider></mat-divider>
<br />

