<h5 class="font-weight-bold mb-5">{{groupName}}</h5>
<ng-container *ngFor="let doFilterGroup of subgroups">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{doFilterGroup.translate | translate: {Default: doFilterGroup.subgroupName} }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div style="float: right;" *ngIf="doFilterGroup.subgroupName === 'Type'">
      <a [routerLink]="['/data-object-types']" target="_blank">
        {{'TOOLTIPS.HELP' | translate: {Default: 'Help'} }}
      </a>
    </div>
    <br *ngIf="doFilterGroup.subgroupName === 'Type'" />

    <mat-divider></mat-divider> <br />

    <ng-container *ngFor="let dataObjectFilterParams of doFilterGroup.values">
      <mat-checkbox id="{{doFilterGroup.checkboxName + '_' + dataObjectFilterParams.id}}"
                    name="{{dataObjectFilterParams.value}}"
                    [(ngModel)]="dataObjectFilterParams.isSelected"
                    [value]="dataObjectFilterParams.id"
                    (change)="onDataObjectFilter($event, dataObjectFilterParams.value, dataObjectFilterParams.id,
                    dataObjectFilterParams.translate, doFilterGroup.fieldName, doFilterGroup.isNested,
                    doFilterGroup.path, doFilterGroup.type, doFilterGroup.subgroupName)">
        {{dataObjectFilterParams.translate | translate: {Default: dataObjectFilterParams.name} }}
      </mat-checkbox>
      <br />
    </ng-container>
    <mat-action-row>
      <button mat-button color="primary"
              (click)="selectAll(doFilterGroup.id, doFilterGroup.subgroupName)"
              style="padding-right: 15px !important; padding-left: 10px !important;"
      >
        {{'BUTTONS.SELECT-ALL' | translate: {Default: 'Select all'} }}
      </button>
      <button mat-button color="warn"
              (click)="deselectAll(doFilterGroup.id, doFilterGroup.subgroupName)"
              style="padding-right: 15px !important; padding-left: 10px !important;"
      >
        {{'BUTTONS.DESELECT-ALL' | translate: {Default: 'Deselect all'} }}
      </button>
    </mat-action-row>
  </mat-expansion-panel>
  <br />
</ng-container>
<mat-divider></mat-divider>
<br />
