<!--begin::Container-->
<div
  [ngClass]="footerContainerCSSClasses"
  class="d-flex flex-column flex-md-row align-items-center justify-content-between"
>
  <!--begin::Copyright-->
  <div class="text-dark order-2 order-md-1">
    <span class="text-muted font-weight-bold mr-2"
      >{{ currentYear }} &copy;</span
    >
    <a
      href="http://ecrin.org"
      target="_blank"
      class="text-dark-75 text-hover-primary"
      >ECRIN</a
    >
  </div>
  <!--end::Copyright-->

  <!--begin::Nav-->
  <div class="nav nav-dark">
    <a
      href="https://ecrin.org/"
      target="_blank"
      class="nav-link pl-0 pr-5"
      >ECRIN Web site</a
    >
    <a
      href="http://ecrin-mdr.online/index.php/Project_Overview"
      target="_blank"
      class="nav-link pl-0 pr-5"
      >
      Wiki
    </a>
    <a
      href="http://ecrin-mdr.online/index.php/Legal_Diclaimer"
      target="_blank"
      class="nav-link pl-0 pr-5"
    >{{'FOOTER.DISCLAIMER' | translate: {Default: 'Disclaimer'} }}
    </a>
    <a
      href="http://ecrin-mdr.online/index.php/Sources_and_Contributors"
      target="_blank"
      class="nav-link pl-0 pr-5"
    >
      {{'FOOTER.DATA-SOURCES' | translate: {Default: 'Sources and Contributors'} }}
    </a>
    <a
      [routerLink]="['/for-developers']"
      target="_blank"
      class="nav-link pl-0 pr-5"
    >
      {{'FOOTER.FOR-DEVELOPERS' | translate: {Default: 'For developers'} }}
    </a>
    <a
      href="http://ecrin-mdr.online/index.php/Contact_us"
      target="_blank"
      class="nav-link pl-0 pr-0"
      >
      {{'FOOTER.CONTACT' | translate: {Default: 'Contact us'} }}
    </a>
  </div>
  <!--end::Nav-->
</div>
<!--end::Container-->
