<!--begin::Container-->
<div
  [ngClass]="footerContainerCSSClasses"
  class="d-flex flex-column flex-md-row align-items-center justify-content-between"
>
  <!--begin::Copyright-->
  <div class="text-dark order-2 order-md-1">
    <span class="text-muted font-weight-bold mr-2"
      >{{ currentYear }} &copy;</span
    >
    <a
      href="https://www.eosc-life.eu/"
      target="_blank"
      class="text-dark-75 text-hover-primary"
      >EOSC-Life</a
    >
  </div>
  <!--end::Copyright-->

  <!--begin::Nav-->
  <div class="nav nav-dark">
    <a
      href="https://www.eosc-life.eu/"
      target="_blank"
      class="nav-link pl-0 pr-5"
      >EOSC-Life Web site</a
    >
    <a
            href="https://docs.google.com/document/d/1U_SMw1SIAu3J0gdSxNYO3UJR3CQdRI-LBj7xvDcsq8Y/edit?usp=sharing"
            target="_blank"
            class="nav-link pl-0 pr-5"
    >Project description</a
    >
    <a
      href="https://docs.google.com/document/d/1n7wlju0ctE7_vB58iBshWYQ-BCAp47tPUXKBvtUsVOg/edit?usp=sharing"
      target="_blank"
      class="nav-link pl-0 pr-5"
    >Disclaimer
    </a>
    <a
      href="https://docs.google.com/document/d/1iDQnH3v1Rdk6M2Z5w1I9i0MNnMcxgHCK5pAYWTTOLVk/edit?usp=sharing"
      target="_blank"
      class="nav-link pl-0 pr-0"
      >
      Contact us
    </a>
  </div>
  <!--end::Nav-->
</div>
<!--end::Container-->
