<!--begin::Topbar-->

<ng-container *ngIf="router.url === '/'">

  <div class="topbar-item">
    <div class="btn btn-icon btn-clean btn-lg mr-1">
      <a class="svg-icon svg-icon-xl svg-icon-primary fas fa-file-pdf"
         placement="bottom" ngbTooltip="Save as PDF"
         (click)="generatePdfBtn.click()"
         style="font-size: 1.35em; color: #3699FF;"></a>
      <input
        hidden
        type="button"
        #generatePdfBtn
        (click)="generatePdf()" />
    </div>
  </div>

  <div class="topbar-item">
    <div class="btn btn-icon btn-clean btn-lg mr-1">
      <a class="svg-icon svg-icon-xl svg-icon-primary fas fa-file-code"
         placement="bottom" ngbTooltip="Save as JSON"
         (click)="generateJSONBtn.click()"
         style="font-size: 1.35em; color: #3699FF;"></a>
      <input
        hidden
        type="button"
        #generateJSONBtn
        (click)="generateJson()" />
    </div>
  </div>

  <div class="topbar-item">
    <div class="btn btn-icon btn-clean btn-lg mr-1">
      <a class="svg-icon svg-icon-xl svg-icon-primary fas fa-trash"
         placement="bottom" ngbTooltip="{{'TOOLTIPS.CLEAR' | translate}}"
         (click)="clearBtn.click()"
         style="font-size: 1.35em; color: #d0451b;"></a>
      <input
        hidden
        type="button"
        #clearBtn
        (click)="onClear()" />
    </div>
  </div>
</ng-container>


<ng-container *ngIf="(router.url !== '/' && !router.url.includes('/resource')) || router.url.includes('/api')">

  <div class="topbar-item">
    <div class="btn btn-icon btn-clean btn-lg mr-1">
      <a class="svg-icon svg-icon-xl svg-icon-primary fas fa-file-pdf"
         placement="bottom" ngbTooltip="Save as PDF"
         style="font-size: 1.35em; color: #3699FF;"></a>
    </div>
  </div>

  <div class="topbar-item">
    <div class="btn btn-icon btn-clean btn-lg mr-1">
      <a class="svg-icon svg-icon-xl svg-icon-primary fas fa-file-code"
         placement="bottom" ngbTooltip="Save as JSON"
         style="font-size: 1.35em; color: #3699FF;"></a>
    </div>
  </div>

  <div class="topbar-item">
    <div class="btn btn-icon btn-clean btn-lg mr-1">
      <a class="svg-icon svg-icon-xl svg-icon-primary fas fa-trash"
         placement="bottom" ngbTooltip="{{'TOOLTIPS.CLEAR' | translate}}"
         style="font-size: 1.35em; color: #d0451b;"></a>
    </div>
  </div>

</ng-container>


<ng-container *ngIf="router.url.includes('/resource') && !(router.url.includes('/api'))">

  <div class="topbar-item">
    <div class="btn btn-icon btn-clean btn-lg mr-1">
      <a class="svg-icon svg-icon-xl svg-icon-primary fas fa-file-pdf"
         placement="bottom" ngbTooltip="Save as PDF"
         (click)="generatePdfResourceBtn.click()"
         style="font-size: 1.35em; color: #3699FF;"></a>
      <input
        hidden
        type="button"
        #generatePdfResourceBtn
        (click)="generateResourcePdf()" />
    </div>
  </div>

  <div class="topbar-item">
    <div class="btn btn-icon btn-clean btn-lg mr-1">
      <a class="svg-icon svg-icon-xl svg-icon-primary fas fa-file-code"
         placement="bottom" ngbTooltip="Save as JSON"
         (click)="generateJSONResourceBtn.click()"
         style="font-size: 1.35em; color: #3699FF;"></a>
      <input
        hidden
        type="button"
        #generateJSONResourceBtn
        (click)="generateResourceJson()" />
    </div>
  </div>

  <div class="topbar-item">
    <div class="btn btn-icon btn-clean btn-lg mr-1">
      <a class="svg-icon svg-icon-xl svg-icon-primary fas fa-trash"
         placement="bottom" ngbTooltip="{{'TOOLTIPS.CLEAR' | translate}}"
         style="font-size: 1.35em; color: #d0451b;"></a>
    </div>
  </div>
</ng-container>


<!--
<mat-divider [vertical]="true"
  style="margin-left: 5px !important; margin-right: 6px !important;">
</mat-divider>
-->

<ng-container *ngIf="extrasLanguagesDisplay">
  <app-language-selector style="margin-top: 10px; margin-left: 20px !important;"></app-language-selector>
</ng-container>

<!--end::Topbar-->
