<!--begin::Topbar-->

<ng-container *ngIf="router.url === '/'">
  <div class="topbar-item">
    <div class="btn btn-icon btn-clean btn-lg mr-1">
      <a class="svg-icon svg-icon-xl svg-icon-primary fas fa-cloud-upload-alt"
         style="font-size: 1.35em;"
         placement="bottom" ngbTooltip="{{'MODALS.LOAD' | translate: {Default: 'Load'} }}"
         (click)="openLoadModal()"
      ></a>
    </div>
  </div>

  <div class="topbar-item">
    <div class="btn btn-icon btn-clean btn-lg mr-1">
      <a class="svg-icon svg-icon-xl svg-icon-primary fas fa-save"
         placement="bottom" ngbTooltip="{{'MODALS.SAVE' | translate: {Default: 'Save'} }}"
         id="downloadStoreBtn"
         (click)="openSaveModal()"
         style="font-size: 1.35em;"></a>
    </div>
  </div>

  <div class="topbar-item">
    <div class="btn btn-icon btn-clean btn-lg mr-1">
      <a class="svg-icon svg-icon-xl svg-icon-primary fas fa-file-download"
         placement="bottom" ngbTooltip="{{'MODALS.EXPORT-AS' | translate: {Default: 'Export as'} }}"
         (click)="openExportModal()"
         style="font-size: 1.35em;"></a>
    </div>
  </div>

  <div class="topbar-item">
    <div class="btn btn-icon btn-clean btn-lg mr-1">
      <a class="svg-icon svg-icon-xl svg-icon-primary fas fa-trash"
         placement="bottom" ngbTooltip="{{'TOOLTIPS.CLEAR' | translate}}"
         (click)="clearBtn.click()"
         style="font-size: 1.35em; color: #bc3315;"></a>
      <input
        hidden
        type="button"
        #clearBtn
        (click)="onClear()" />
    </div>
  </div>
</ng-container>


<ng-container *ngIf="(router.url !== '/' && !router.url.includes('/study')) || router.url.includes('/api')">
  <div class="topbar-item">
    <div class="btn btn-icon btn-clean btn-lg mr-1">
      <a class="svg-icon svg-icon-xl svg-icon-primary fas fa-cloud-upload-alt"
         style="font-size: 1.35em;"
         placement="bottom" ngbTooltip="{{'MODALS.LOAD' | translate: {Default: 'Load'} }}"
      ></a>

    </div>
  </div>

  <div class="topbar-item">
    <div class="btn btn-icon btn-clean btn-lg mr-1">
      <a class="svg-icon svg-icon-xl svg-icon-primary fas fa-save"
         placement="bottom" ngbTooltip="{{'MODALS.SAVE' | translate: {Default: 'Save'} }}"
         style="font-size: 1.35em;"></a>
    </div>
  </div>

  <div class="topbar-item">
    <div class="btn btn-icon btn-clean btn-lg mr-1">
      <a class="svg-icon svg-icon-xl svg-icon-primary fas fa-file-download"
         placement="bottom" ngbTooltip="{{'MODALS.EXPORT-AS' | translate: {Default: 'Export as'} }}"
         style="font-size: 1.35em;"></a>
    </div>
  </div>

  <div class="topbar-item">
    <div class="btn btn-icon btn-clean btn-lg mr-1">
      <a class="svg-icon svg-icon-xl svg-icon-primary fas fa-trash"
         placement="bottom" ngbTooltip="{{'TOOLTIPS.CLEAR' | translate}}"
         style="font-size: 1.35em; color: #bc3315;"></a>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="router.url.includes('/study') && !(router.url.includes('/api'))">
  <div class="topbar-item">
    <div class="btn btn-icon btn-clean btn-lg mr-1">
      <a class="svg-icon svg-icon-xl svg-icon-primary fas fa-cloud-upload-alt"
         style="font-size: 1.35em;"
         placement="bottom" ngbTooltip="{{'MODALS.LOAD' | translate: {Default: 'Load'} }}"
      ></a>
    </div>
  </div>

  <div class="topbar-item">
    <div class="btn btn-icon btn-clean btn-lg mr-1">
      <a class="svg-icon svg-icon-xl svg-icon-primary fas fa-save"
         style="font-size: 1.35em;"
         placement="bottom" ngbTooltip="{{'MODALS.SAVE' | translate: {Default: 'Save'} }}"
      ></a>
    </div>
  </div>

  <div class="topbar-item">
    <div class="btn btn-icon btn-clean btn-lg mr-1">
      <a class="svg-icon svg-icon-xl svg-icon-primary fas fa-file-download"
         placement="bottom" ngbTooltip="{{'MODALS.EXPORT-AS' | translate: {Default: 'Export as'} }}"
         (click)="openSingleStudyModal()"
         style="font-size: 1.35em;"></a>
    </div>
  </div>

  <div class="topbar-item">
    <div class="btn btn-icon btn-clean btn-lg mr-1">
      <a class="svg-icon svg-icon-xl svg-icon-primary fas fa-trash"
         style="font-size: 1.35em; color: #bc3315;"
         placement="bottom" ngbTooltip="{{'TOOLTIPS.CLEAR' | translate}}"
      ></a>
    </div>
  </div>
</ng-container>


<!--
<mat-divider [vertical]="true"
  style="margin-left: 5px !important; margin-right: 6px !important;">
</mat-divider>
-->

<ng-container *ngIf="extrasLanguagesDisplay">
  <app-language-selector style="margin-top: 10px; margin-left: 20px !important;"></app-language-selector>
</ng-container>

<!--end::Topbar-->
