<div class="row mb-5">
    <div class="col-lg-12 col-xxl-12">
        <div class="card card-custom card-stretch" style="height: 100% !important;">
            <ng-container *ngIf="resource !== null && resource !== undefined">
                <div class="card-body">
                    <h1 class="mb-5">{{resource.title}}</h1>

                    <mat-divider></mat-divider>


                    <div class="row mt-1" style="margin-bottom: -10px !important;">
                        <div class="col-3 justify-content-center text-center">
                            <h6 style="margin-top: 2px !important;">Abstracts</h6>
                        </div>
                        <div class="col-9">
                            <p align="justify" style="margin-top: 3px !important;">
                                <ng-container
                                        *ngIf="resource.abstract !== null
                  && resource.abstract !== undefined
                  && resource.abstract.trim() !== '';
                    else noneTemplate">
                                    {{(showMore) ? resource.abstract : resource.abstract | slice:0:100}} <span *ngIf="!showMore"> ...</span>
                                    <a href="javascript:;" *ngIf="!showMore" (click)="showMoreToggle()">{{'SEARCH-PAGE.SHOW-MORE' | translate: {Default: '[Show More]'} }}</a>
                                    <a href="javascript:;" *ngIf="showMore" (click)="showMoreToggle()">{{'SEARCH-PAGE.SHOW-LESS' | translate: {Default: '[Show Less]'} }}</a>
                                </ng-container>
                            </p>
                        </div>
                    </div>

                    <mat-divider></mat-divider>

                    <div class="row mt-1" style="margin-bottom: -10px !important;">
                        <div class="col-3 justify-content-center text-center">
                            <h6 style="margin-top: 2px !important;">Authors</h6>
                        </div>
                        <div class="col-9">
                            <p align="justify" style="margin-top: 3px !important;">
                                <ng-container
                                        *ngIf="resource.authors !== null
                  && resource.authors !== undefined
                  && resource.authors.trim() !== '';
                    else noneTemplate">
                                    {{resource.authors}}
                                </ng-container>
                            </p>
                        </div>
                    </div>

                    <mat-divider></mat-divider>

                    <div class="row mt-1" style="margin-bottom: -10px !important;">
                        <div class="col-3 justify-content-center text-center">
                            <h6 style="margin-top: 2px !important;">DOI</h6>
                        </div>
                        <div class="col-9">
                            <p align="justify" style="margin-top: 3px !important;">
                                <ng-container
                                        *ngIf="resource.doi !== null
                  && resource.doi !== undefined
                  && resource.doi.trim() !== '';
                    else noneTemplate">
                                    {{resource.doi}}
                                </ng-container>
                            </p>
                        </div>
                    </div>

                    <mat-divider></mat-divider>

                    <div class="row mt-1" style="margin-bottom: -10px !important;">
                        <div class="col-3 justify-content-center text-center">
                            <h6 style="margin-top: 2px !important;">Publication year</h6>
                        </div>
                        <div class="col-9">
                            <p align="justify" style="margin-top: 3px !important;">
                                <ng-container
                                        *ngIf="resource.year_of_publication !== null
                  && resource.year_of_publication !== undefined;
                    else noneTemplate">
                                    {{resource.year_of_publication}}
                                </ng-container>
                            </p>
                        </div>
                    </div>

                    <mat-divider></mat-divider>

                    <div class="row mt-1" style="margin-bottom: -10px !important;">
                        <div class="col-3 justify-content-center text-center">
                            <h6 style="margin-top: 2px !important;">Type of resource</h6>
                        </div>
                        <div class="col-9">
                            <p align="justify" style="margin-top: 3px !important;">
                                <ng-container
                                        *ngIf="resource.type_of_resource !== null
                  && resource.type_of_resource !== undefined;
                    else noneTemplate">
                                    {{resource.type_of_resource}}
                                </ng-container>
                            </p>
                        </div>
                    </div>

                    <mat-divider></mat-divider>

                    <div class="row mt-1" style="margin-bottom: -10px !important;">
                        <div class="col-3 justify-content-center text-center">
                            <h6 style="margin-top: 2px !important;">URL</h6>
                        </div>
                        <div class="col-9">
                            <p align="justify" style="margin-top: 3px !important;">
                                <ng-container
                                        *ngIf="resource.url !== null
                  && resource.url !== undefined;
                    else noneTemplate">
                                    <a href="{{resource.url}}" target="_blank">Source link</a>
                                </ng-container>
                            </p>
                        </div>
                    </div>

                    <mat-divider></mat-divider>

                    <div class="row mt-1" style="margin-bottom: -10px !important;">
                        <div class="col-3 justify-content-center text-center">
                            <h6 style="margin-top: 2px !important;">Attached file</h6>
                        </div>
                        <div class="col-9">
                            <p align="justify" style="margin-top: 3px !important;">
                                <ng-container
                                        *ngIf="resource.resource_file !== null
                  && resource.resource_file !== undefined;
                    else noneTemplate">
                                    <a href="{{resource.resource_file}}" target="_blank">File URL</a>
                                </ng-container>
                            </p>
                        </div>
                    </div>

                    <mat-divider></mat-divider>

                    <div class="row mt-5" style="margin-bottom: -2px !important;">
                        <div class="col-12 text-center justify-content-center">
                            <h3>Categories information</h3>
                        </div>
                    </div>

                    <mat-divider></mat-divider>


                    <div class="row mt-1" style="margin-bottom: -10px !important;">
                        <div class="col-3 justify-content-center text-center">
                            <h6 style="margin-top: 2px !important;">Sensitive data</h6>
                        </div>
                        <div class="col-9">
                            <p align="justify" style="margin-top: 3px !important;">
                                <ng-container
                                        *ngIf="resource.tags.sensitive_data !== null
                  && resource.tags.sensitive_data !== undefined; else noneTemplate"
                                >
                                    <ng-container *ngIf="resource.tags.sensitive_data.length > 0;
                    else noneTemplate">

                                        <ng-container *ngIf="resource.tags.sensitive_data.length === 1">
                      <span *ngFor="let sensitive_d of resource.tags.sensitive_data">
                      {{sensitive_d.name}}
                          <i class="fa fa-question-circle"
                             ngbPopover="{{sensitive_d.description}}"
                             placement="auto"
                             popoverTitle="{{sensitive_d.name}}"
                          >
                        </i>
                      </span>
                                        </ng-container>

                                        <ng-container *ngIf="resource.tags.sensitive_data.length > 1">
                      <span *ngFor="let sensitive_d of resource.tags.sensitive_data">
                      {{sensitive_d.name}}
                          <i class="fa fa-question-circle"
                             ngbPopover="{{sensitive_d.description}}"
                             placement="auto"
                             popoverTitle="{{sensitive_d.name}}"
                          >
                        </i> ;
                      </span>
                                        </ng-container>

                                    </ng-container>
                                </ng-container>
                            </p>
                        </div>
                    </div>

                    <mat-divider></mat-divider>


                    <div class="row mt-1" style="margin-bottom: -10px !important;">
                        <div class="col-3 justify-content-center text-center">
                            <h6 style="margin-top: 2px !important;">Resource types</h6>
                        </div>
                        <div class="col-9">
                            <p align="justify" style="margin-top: 3px !important;">
                                <ng-container
                                        *ngIf="resource.tags.resource_type !== null
                  && resource.tags.resource_type !== undefined; else noneTemplate"
                                >
                                    <ng-container *ngIf="resource.tags.resource_type.length > 0;
                    else noneTemplate">

                                        <ng-container *ngIf="resource.tags.resource_type.length === 1">
                      <span *ngFor="let resource_type of resource.tags.resource_type">
                      {{resource_type.name}}
                          <i class="fa fa-question-circle"
                             ngbPopover="{{resource_type.description}}"
                             placement="auto"
                             popoverTitle="{{resource_type.name}}"
                          >
                        </i>
                      </span>
                                        </ng-container>

                                        <ng-container *ngIf="resource.tags.resource_type.length > 1">
                      <span *ngFor="let resource_type of resource.tags.resource_type">
                      {{resource_type.name}}
                          <i class="fa fa-question-circle"
                             ngbPopover="{{resource_type.description}}"
                             placement="auto"
                             popoverTitle="{{resource_type.name}}"
                          >
                        </i> ;
                      </span>
                                        </ng-container>

                                    </ng-container>
                                </ng-container>
                            </p>
                        </div>
                    </div>

                    <mat-divider></mat-divider>

                    <div class="row mt-1" style="margin-bottom: -10px !important;">
                        <div class="col-3 text-center justify-content-center">
                            <h6 style="margin-top: 2px !important;">Research fields</h6>
                        </div>
                        <div class="col-9">
                            <p align="justify" style="margin-top: 3px !important;">
                                <ng-container
                                        *ngIf="resource.tags.research_field !== null
                  && resource.tags.research_field !== undefined; else noneTemplate"
                                >
                                    <ng-container *ngIf="resource.tags.research_field.length > 0;
                    else noneTemplate">

                                        <ng-container *ngIf="resource.tags.research_field.length === 1">
                      <span *ngFor="let research_field of resource.tags.research_field">
                      {{research_field.name}}
                          <i class="fa fa-question-circle"
                             ngbPopover="{{research_field.description}}"
                             placement="auto"
                             popoverTitle="{{research_field.name}}"
                          >
                        </i>
                      </span>
                                        </ng-container>

                                        <ng-container *ngIf="resource.tags.research_field.length > 1">
                      <span *ngFor="let research_field of resource.tags.research_field">
                      {{research_field.name}}
                          <i class="fa fa-question-circle"
                             ngbPopover="{{research_field.description}}"
                             placement="auto"
                             popoverTitle="{{research_field.name}}"
                          >
                        </i> ;
                      </span>
                                        </ng-container>

                                    </ng-container>
                                </ng-container>
                            </p>
                        </div>
                    </div>

                    <mat-divider></mat-divider>

                    <div class="row mt-1" style="margin-bottom: -10px !important;">
                        <div class="col-3 justify-content-center text-center">
                            <h6 style="margin-top: 2px !important;">Data types</h6>
                        </div>
                        <div class="col-9">
                            <p align="justify" style="margin-top: 3px !important;">
                                <ng-container
                                        *ngIf="resource.tags.data_type !== null
                  && resource.tags.data_type !== undefined; else noneTemplate"
                                >
                  <span>
                      {{resource.tags.data_type.name}}
                      <i class="fa fa-question-circle"
                         ngbPopover="{{resource.tags.data_type.description}}"
                         placement="auto"
                         popoverTitle="{{resource.tags.data_type.name}}"
                      >
                    </i>
                  </span>
                                </ng-container>
                            </p>
                        </div>
                    </div>

                    <mat-divider></mat-divider>

                    <div class="row mt-1" style="margin-bottom: -10px !important;">
                        <div class="col-3 justify-content-center text-center">
                            <h6 style="margin-top: 2px !important;">Data subtypes</h6>
                        </div>
                        <div class="col-9">
                            <p align="justify" style="margin-top: 3px !important;">
                                <ng-container
                                        *ngIf="resource.tags.data_type !== null
                && resource.tags.data_type !== undefined; else noneTemplate"
                                >
                                    <ng-container *ngIf="resource.tags.data_type.subs !== null
                && resource.tags.data_type.subs !== undefined; else noneTemplate">

                                        <ng-container *ngIf="resource.tags.data_type.subs.length > 0;
                    else noneTemplate">

                                            <ng-container *ngIf="resource.tags.data_type.subs.length === 1">
                      <span *ngFor="let data_type_sub of resource.tags.data_type.subs">
                        {{data_type_sub.name}}
                          <i class="fa fa-question-circle"
                             ngbPopover="{{data_type_sub.description}}"
                             placement="auto"
                             popoverTitle="{{data_type_sub.name}}"
                          >
                        </i>
                      </span>
                                            </ng-container>

                                            <ng-container *ngIf="resource.tags.data_type.subs.length > 1">
                     <span *ngFor="let data_type_sub of resource.tags.data_type.subs">
                        {{data_type_sub.name}}
                         <i class="fa fa-question-circle"
                            ngbPopover="{{data_type_sub.description}}"
                            placement="auto"
                            popoverTitle="{{data_type_sub.name}}"
                         >
                        </i> ;
                     </span>
                                            </ng-container>

                                        </ng-container>

                                    </ng-container>
                                </ng-container>
                            </p>
                        </div>
                    </div>

                    <mat-divider></mat-divider>

                    <div class="row mt-1" style="margin-bottom: -10px !important;">
                        <div class="col-3 justify-content-center text-center">
                            <h6 style="margin-top: 2px !important;">Geographical scope</h6>
                        </div>
                        <div class="col-9">
                            <p align="justify" style="margin-top: 3px !important;">
                                <ng-container
                                        *ngIf="resource.tags.geographical_scope !== null
                  && resource.tags.geographical_scope !== undefined; else noneTemplate"
                                >
                  <span>
                      {{resource.tags.geographical_scope.name}}
                      <i class="fa fa-question-circle"
                         ngbPopover="{{resource.tags.geographical_scope.description}}"
                         placement="auto"
                         popoverTitle="{{resource.tags.geographical_scope.name}}"
                      >
                    </i>
                  </span>
                                </ng-container>
                            </p>
                        </div>
                    </div>

                    <mat-divider></mat-divider>

                    <div class="row mt-1" style="margin-bottom: -10px !important;">
                        <div class="col-3 justify-content-center text-center">
                            <h6 style="margin-top: 2px !important;">Countries grouping</h6>
                        </div>
                        <div class="col-9">
                            <p align="justify" style="margin-top: 3px !important;">
                                <ng-container
                                        *ngIf="resource.tags.geographical_scope.countries_grouping !== null
                && resource.tags.geographical_scope.countries_grouping !== undefined; else noneTemplate"
                                >
                                    <ng-container *ngIf="resource.tags.geographical_scope.countries_grouping !== null
                && resource.tags.geographical_scope.countries_grouping !== undefined; else noneTemplate">

                                        <ng-container *ngIf="resource.tags.geographical_scope.countries_grouping.length > 0;
                    else noneTemplate">

                                            <ng-container
                                                    *ngIf="resource.tags.geographical_scope.countries_grouping.length === 1">
                      <span *ngFor="let country of resource.tags.geographical_scope.countries_grouping">
                        {{country}}
                      </span>
                                            </ng-container>

                                            <ng-container
                                                    *ngIf="resource.tags.geographical_scope.countries_grouping.length > 1">
                     <span *ngFor="let country of resource.tags.geographical_scope.countries_grouping">
                        {{country}};
                     </span>
                                            </ng-container>

                                        </ng-container>

                                    </ng-container>
                                </ng-container>
                            </p>
                        </div>
                    </div>

                    <mat-divider></mat-divider>

                    <div class="row mt-1" style="margin-bottom: -10px !important;">
                        <div class="col-3 justify-content-center text-center">
                            <h6 style="margin-top: 2px !important;">Specific topics</h6>
                        </div>
                        <div class="col-9">
                            <p align="justify" style="margin-top: 3px !important;">
                                <ng-container
                                        *ngIf="resource.tags.specific_topics !== null
                  && resource.tags.specific_topics !== undefined; else noneTemplate"
                                >
                                    <ng-container *ngIf="resource.tags.specific_topics.length > 0;
                    else noneTemplate">

                                        <ng-container *ngIf="resource.tags.specific_topics.length === 1">
                      <span *ngFor="let specific_topic of resource.tags.specific_topics">
                      {{specific_topic.name}}
                          <i class="fa fa-question-circle"
                             ngbPopover="{{specific_topic.description}}"
                             placement="auto"
                             popoverTitle="{{specific_topic.name}}"
                          >
                        </i>
                      </span>
                                        </ng-container>

                                        <ng-container *ngIf="resource.tags.specific_topics.length > 1">
                      <span *ngFor="let specific_topic of resource.tags.specific_topics">
                      {{specific_topic.name}}
                          <i class="fa fa-question-circle"
                             ngbPopover="{{specific_topic.description}}"
                             placement="auto"
                             popoverTitle="{{specific_topic.name}}"
                          >
                        </i> ;
                      </span>
                                        </ng-container>

                                    </ng-container>
                                </ng-container>
                            </p>
                        </div>
                    </div>







                    <!--
                    <div class="row mt-5 mb-3">
                        <div class="col-xl-12">
                            <h3>Abstracts</h3>
                            <p align="justify">
                                <ng-container
                                        *ngIf="resource.abstract !== null
                  && resource.abstract !== undefined
                  && resource.abstract.trim() !== '';
                    else noneTemplate">
                                    {{resource.abstract}}
                                </ng-container>
                            </p>
                        </div>
                    </div>
                    <mat-divider></mat-divider>


                    <div class="row mt-5 mb-3">
                        <div class="col-xl-4">
                            <h3>Author(s):</h3>
                            <p align="justify">
                                <ng-container
                                        *ngIf="resource.authors !== null
                  && resource.authors !== undefined
                  && resource.authors.trim() !== '';
                    else noneTemplate">
                                    {{resource.authors}}
                                </ng-container>
                            </p>
                        </div>

                        <div class="col-xl-4">
                            <h3>DOI:</h3>
                            <p align="justify">
                                <ng-container
                                        *ngIf="resource.doi !== null
                  && resource.doi !== undefined
                  && resource.doi.trim() !== '';
                    else noneTemplate">
                                    {{resource.doi}}
                                </ng-container>
                            </p>
                        </div>

                        <div class="col-xl-4">
                            <h3>Year of publication:</h3>
                            <p align="justify">
                                <ng-container
                                        *ngIf="resource.year_of_publication !== null
                  && resource.year_of_publication !== undefined;
                    else noneTemplate">
                                    {{resource.year_of_publication}}
                                </ng-container>
                            </p>
                        </div>
                    </div>
                    <mat-divider></mat-divider>


                    <div class="row mt-5 mb-3">
                        <div class="col-xl-4">
                            <h3>Type of resource:</h3>
                            <p align="justify">
                                <ng-container
                                        *ngIf="resource.type_of_resource !== null
                  && resource.type_of_resource !== undefined;
                    else noneTemplate">
                                    {{resource.type_of_resource}}
                                </ng-container>
                            </p>
                        </div>

                        <div class="col-xl-4">
                            <h3>URL:</h3>
                            <p align="justify">
                                <ng-container
                                        *ngIf="resource.url !== null
                  && resource.url !== undefined;
                    else noneTemplate">
                                    <a href="{{resource.url}}" target="_blank">Source URL</a>
                                </ng-container>
                            </p>
                        </div>

                        <div class="col-xl-4">
                            <h3>Attached file:</h3>
                            <p align="justify">
                                <ng-container
                                        *ngIf="resource.resource_file !== null
                  && resource.resource_file !== undefined;
                    else noneTemplate">
                                    <a href="{{resource.resource_file}}" target="_blank">File URL</a>
                                </ng-container>
                            </p>
                        </div>
                    </div>
                    <mat-divider></mat-divider>

                    <div class="row mt-5 mb-3">
                        <div class="col-xl-6">
                            <h4>Resource type(s)</h4>
                            <p align="justify">
                                <ng-container
                                        *ngIf="resource.tags.resource_type !== null
                  && resource.tags.resource_type !== undefined; else noneTemplate"
                                >
                                    <ng-container *ngIf="resource.tags.resource_type.length > 0;
                    else noneTemplate">

                                        <ng-container *ngIf="resource.tags.resource_type.length === 1">
                      <span *ngFor="let resource_type of resource.tags.resource_type">
                      {{resource_type.name}}
                          <i class="fa fa-question-circle"
                             ngbPopover="{{resource_type.description}}"
                             placement="auto"
                             popoverTitle="{{resource_type.name}}"
                          >
                        </i>
                      </span>
                                        </ng-container>

                                        <ng-container *ngIf="resource.tags.resource_type.length > 1">
                      <span *ngFor="let resource_type of resource.tags.resource_type">
                      {{resource_type.name}}
                          <i class="fa fa-question-circle"
                             ngbPopover="{{resource_type.description}}"
                             placement="auto"
                             popoverTitle="{{resource_type.name}}"
                          >
                        </i> ;
                      </span>
                                        </ng-container>

                                    </ng-container>
                                </ng-container>
                            </p>
                        </div>


                        <div class="col-xl-6">
                            <h4>Research field(s)</h4>
                            <p align="justify">
                                <ng-container
                                        *ngIf="resource.tags.research_field !== null
                  && resource.tags.research_field !== undefined; else noneTemplate"
                                >
                                    <ng-container *ngIf="resource.tags.research_field.length > 0;
                    else noneTemplate">

                                        <ng-container *ngIf="resource.tags.research_field.length === 1">
                      <span *ngFor="let research_field of resource.tags.research_field">
                      {{research_field.name}}
                          <i class="fa fa-question-circle"
                             ngbPopover="{{research_field.description}}"
                             placement="auto"
                             popoverTitle="{{research_field.name}}"
                          >
                        </i>
                      </span>
                                        </ng-container>

                                        <ng-container *ngIf="resource.tags.research_field.length > 1">
                      <span *ngFor="let research_field of resource.tags.research_field">
                      {{research_field.name}}
                          <i class="fa fa-question-circle"
                             ngbPopover="{{research_field.description}}"
                             placement="auto"
                             popoverTitle="{{research_field.name}}"
                          >
                        </i> ;
                      </span>
                                        </ng-container>

                                    </ng-container>
                                </ng-container>
                            </p>
                        </div>
                    </div>

                    <div class="row mt-5 mb-3">
                        <div class="col-xl-6">
                            <h4>Data type</h4>
                            <p align="justify">
                                <ng-container
                                        *ngIf="resource.tags.data_type !== null
                  && resource.tags.data_type !== undefined; else noneTemplate"
                                >
                  <span>
                      {{resource.tags.data_type.name}}
                      <i class="fa fa-question-circle"
                         ngbPopover="{{resource.tags.data_type.description}}"
                         placement="auto"
                         popoverTitle="{{resource.tags.data_type.name}}"
                      >
                    </i>
                  </span>
                                </ng-container>
                            </p>
                        </div>


                        <div class="col-xl-6">
                            <h4>Data subtype(s)</h4>
                            <p align="justify">
                                <ng-container
                                        *ngIf="resource.tags.data_type !== null
                && resource.tags.data_type !== undefined; else noneTemplate"
                                >
                                    <ng-container *ngIf="resource.tags.data_type.subs !== null
                && resource.tags.data_type.subs !== undefined; else noneTemplate">

                                        <ng-container *ngIf="resource.tags.data_type.subs.length > 0;
                    else noneTemplate">

                                            <ng-container *ngIf="resource.tags.data_type.subs.length === 1">
                      <span *ngFor="let data_type_sub of resource.tags.data_type.subs">
                        {{data_type_sub.name}}
                          <i class="fa fa-question-circle"
                             ngbPopover="{{data_type_sub.description}}"
                             placement="auto"
                             popoverTitle="{{data_type_sub.name}}"
                          >
                        </i>
                      </span>
                                            </ng-container>

                                            <ng-container *ngIf="resource.tags.data_type.subs.length > 1">
                     <span *ngFor="let data_type_sub of resource.tags.data_type.subs">
                        {{data_type_sub.name}}
                         <i class="fa fa-question-circle"
                            ngbPopover="{{data_type_sub.description}}"
                            placement="auto"
                            popoverTitle="{{data_type_sub.name}}"
                         >
                        </i> ;
                     </span>
                                            </ng-container>

                                        </ng-container>

                                    </ng-container>
                                </ng-container>
                            </p>
                        </div>
                    </div>

                    <div class="row mt-5 mb-3">
                        <div class="col-xl-6">
                            <h4>Geographical scope</h4>
                            <p align="justify">
                                <ng-container
                                        *ngIf="resource.tags.geographical_scope !== null
                  && resource.tags.geographical_scope !== undefined; else noneTemplate"
                                >
                  <span>
                      {{resource.tags.geographical_scope.name}}
                      <i class="fa fa-question-circle"
                         ngbPopover="{{resource.tags.geographical_scope.description}}"
                         placement="auto"
                         popoverTitle="{{resource.tags.geographical_scope.name}}"
                      >
                    </i>
                  </span>
                                </ng-container>
                            </p>
                        </div>

                        <div class="col-xl-6">
                            <h4>Countries grouping</h4>
                            <p align="justify">
                                <ng-container
                                        *ngIf="resource.tags.geographical_scope.countries_grouping !== null
                && resource.tags.geographical_scope.countries_grouping !== undefined; else noneTemplate"
                                >
                                    <ng-container *ngIf="resource.tags.geographical_scope.countries_grouping !== null
                && resource.tags.geographical_scope.countries_grouping !== undefined; else noneTemplate">

                                        <ng-container *ngIf="resource.tags.geographical_scope.countries_grouping.length > 0;
                    else noneTemplate">

                                            <ng-container
                                                    *ngIf="resource.tags.geographical_scope.countries_grouping.length === 1">
                      <span *ngFor="let country of resource.tags.geographical_scope.countries_grouping">
                        {{country}}
                      </span>
                                            </ng-container>

                                            <ng-container
                                                    *ngIf="resource.tags.geographical_scope.countries_grouping.length > 1">
                     <span *ngFor="let country of resource.tags.geographical_scope.countries_grouping">
                        {{country}};
                     </span>
                                            </ng-container>

                                        </ng-container>

                                    </ng-container>
                                </ng-container>
                            </p>
                        </div>
                    </div>


                    <div class="row mt-5 mb-3">
                        <div class="col-xl-12">
                            <h4>Specific topic(s)</h4>
                            <p align="justify">
                                <ng-container
                                        *ngIf="resource.tags.specific_topics !== null
                  && resource.tags.specific_topics !== undefined; else noneTemplate"
                                >
                                    <ng-container *ngIf="resource.tags.specific_topics.length > 0;
                    else noneTemplate">

                                        <ng-container *ngIf="resource.tags.specific_topics.length === 1">
                      <span *ngFor="let specific_topic of resource.tags.specific_topics">
                      {{specific_topic.name}}
                          <i class="fa fa-question-circle"
                             ngbPopover="{{specific_topic.description}}"
                             placement="auto"
                             popoverTitle="{{specific_topic.name}}"
                          >
                        </i>
                      </span>
                                        </ng-container>

                                        <ng-container *ngIf="resource.tags.specific_topics.length > 1">
                      <span *ngFor="let specific_topic of resource.tags.specific_topics">
                      {{specific_topic.name}}
                          <i class="fa fa-question-circle"
                             ngbPopover="{{specific_topic.description}}"
                             placement="auto"
                             popoverTitle="{{specific_topic.name}}"
                          >
                        </i> ;
                      </span>
                                        </ng-container>

                                    </ng-container>
                                </ng-container>
                            </p>
                        </div>
                    </div>-->




                </div>
            </ng-container>

            <ng-container *ngIf="!resource && isLoading">
                <div class="card-body text-center">
                    <h4 class="text-center">Loading...</h4>
                </div>
            </ng-container>

            <ng-container *ngIf="!resource && !isLoading">
                <div class="card-body text-center">
                    <h4 class="text-center">Wrong resource ID or resource hasn't been found.</h4>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #noneTemplate>
    <span>NaN</span>
</ng-template>
