<div class="row mb-5">
  <div class="col-lg-12 col-xxl-12">
    <div class="card card-custom card-stretch" style="height: 100% !important;">
      <ng-container *ngIf="study">
        <div class="card-body">
          <h1 class="mb-5">{{study.displayTitle}}</h1>
          <span
            *ngIf="study.provenanceString !== null && study.provenanceString !== undefined"
            style="color: #8c8c8c; font-size: 1em;"
          >
            {{study.provenanceString}}
          </span>

          <mat-divider class="mt-5"></mat-divider>

          <div class="row mt-5 mb-3">
            <div class="col-xl-12">
              <h3>{{'STUDY-PAGE.STUDY-DESCRIPTION' | translate: {Default: 'Study description'} }}</h3>
              <p align="justify">
                <ng-container
                  *ngIf="study.briefDescription !== null && study.briefDescription !== undefined;
                    else noneTemplate">
                  {{study.briefDescription}}
                </ng-container>
              </p>
            </div>
          </div>

          <mat-divider></mat-divider>

          <div class="row mt-5 mb-3">
            <div class="col-xl-12">
              <h3>Data sharing statement</h3>
              <p align="justify">
                <ng-container
                  *ngIf="study.dataSharingStatement !== null && study.dataSharingStatement !== undefined;
                    else noneTemplate">
                  {{study.dataSharingStatement}}
                </ng-container>
              </p>
            </div>
          </div>

          <mat-divider></mat-divider>

          <div class="row mt-5 mb-3">
            <div class="col-xl-6">
              <h3>{{'STUDY-PAGE.STUDY-TYPE' | translate: {Default: 'Study type'} }}</h3>
              <p>
                <ng-container
                  *ngIf="study.studyType !== null && study.studyType !== undefined;
                    else noneTemplate">
                  {{study.studyType}}
                </ng-container>
              </p>
            </div>
            <div class="col-xl-6">
              <h3>{{'STUDY-PAGE.STUDY-STATUS' | translate: {Default: 'Study status'} }}</h3>
              <p>
                <ng-container
                  *ngIf="study.studyStatus !== null && study.studyStatus !== undefined;
                    else noneTemplate">
                  {{study.studyStatus}}
                </ng-container>
              </p>
            </div>
          </div>

          <mat-divider></mat-divider>

          <div class="row mt-5 mb-3">
            <ng-container *ngIf="study.studyFeatures !== null && study.studyFeatures !== undefined">
              <ng-container *ngFor="let feature of study.studyFeatures">
                <div class="col-xl-6">
                  <h3
                    *ngIf="feature.featureType !== null && feature.featureType !== undefined"
                  >
                    {{feature.featureType}}
                  </h3>
                  <p
                    *ngIf="feature.featureValue !== null && feature.featureValue !== undefined"
                  >
                    {{feature.featureValue}}
                  </p>
                </div>
              </ng-container>
            </ng-container>
          </div>

          <mat-divider></mat-divider>

          <div class="row mt-5 mb-3">
            <div class="col-xl-12">
              <h3>{{'STUDY-PAGE.STUDY-IDENTIFIERS.TITLE' | translate: {Default: 'Study identifier(s)'} }}</h3>

              <ng-container *ngIf="study.studyIdentifiers !== null && study.studyIdentifiers !== undefined">
                <ng-container *ngIf="study.studyIdentifiers.length > 0">
                  <mat-expansion-panel *ngFor="let studyIdentifier of study.studyIdentifiers" class="mt-3 mb-3">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <ng-container
                          *ngIf="studyIdentifier.identifierValue !== null &&
                            studyIdentifier.identifierValue !== undefined; else noneTemplate">
                          {{studyIdentifier.identifierValue}}
                        </ng-container>
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-divider></mat-divider>

                    <div class="row mt-5">
                      <div class="col-xl-4 mb-5"
                           *ngIf="studyIdentifier.identifierType !== null
                            && studyIdentifier.identifierType !== undefined">
                        <strong
                          style="font-size: 1.15em;">{{'STUDY-PAGE.STUDY-IDENTIFIERS.TYPE' | translate: {Default: 'Identifier type:'} }}</strong><br/>
                        <span>{{studyIdentifier.identifierType}}</span>
                      </div>
                      <br/>
                      <div class="col-xl-4 mb-5"
                           *ngIf="studyIdentifier.identifierValue !== null
                            && studyIdentifier.identifierValue !== undefined">
                        <strong
                          style="font-size: 1.15em;">{{'STUDY-PAGE.STUDY-IDENTIFIERS.VALUE' | translate: {Default: 'Identifier value:'} }}</strong><br/>
                        <span>{{studyIdentifier.identifierValue}}</span>
                      </div>
                      <br/>
                      <div class="col-xl-4 mb-5"
                           *ngIf="studyIdentifier.identifierDate !== null
                            && studyIdentifier.identifierDate !== undefined">
                        <strong
                          style="font-size: 1.15em;">{{'STUDY-PAGE.STUDY-IDENTIFIERS.DATE' | translate: {Default: 'Identifier date:'} }}</strong><br/>
                        <span>{{studyIdentifier.identifierDate}}</span>
                      </div>
                      <br/>
                      <div class="col-xl-4 mb-5"
                           *ngIf="studyIdentifier.identifierOrg !== null
                            && studyIdentifier.identifierOrg !== undefined">
                        <strong
                          style="font-size: 1.15em;">{{'STUDY-PAGE.STUDY-IDENTIFIERS.ORGANIZATION' | translate: {Default: 'Identifier organization:'} }}</strong><br/>
                        <span>{{studyIdentifier.identifierOrg.name}}</span>
                      </div>
                      <br/>
                      <div class="col-xl-4 mb-5"
                           *ngIf="studyIdentifier.identifierLink !== null
                            && studyIdentifier.identifierLink !== undefined">
                        <strong
                          style="font-size: 1.15em;">{{'STUDY-PAGE.STUDY-IDENTIFIERS.LINK' | translate: {Default: 'Identifier link:'} }}</strong><br/>
                        <a href="{{studyIdentifier.identifierLink}}"
                           target="_blank">{{studyIdentifier.identifierLink}}</a>
                      </div>
                      <br/>
                    </div>
                  </mat-expansion-panel>
                </ng-container>
              </ng-container>

            </div>
          </div>

          <mat-divider></mat-divider>

          <div class="row mt-5 mb-3">
            <div class="col-xl-12">
              <h3>{{'STUDY-PAGE.DATA-OBJECTS.TITLE' | translate: {Default: 'Related data objects list'} }}</h3>

              <hr style="margin-top: 10px !important; margin-bottom: 10px !important;"/>

              <ng-container *ngIf="study.linkedDataObjects">
                <ng-container *ngFor="let dataObject of study.linkedDataObjects">
                  <ng-container *ngIf="dataObject !== null && dataObject !== undefined">
                    <app-data-object
                      [dataObjectTitle]="dataObject.displayTitle"
                      [dataObjectId]="dataObject.id"
                      [dataObjectUrl]="dataObject.objectUrl"
                      [dataObjectAccessUrl]="(!!dataObject.accessDetails) ? dataObject.accessDetails.url : null"
                      [dataObjectAccessType]="dataObject.accessType"
                      [dataObjectType]="dataObject.objectType"
                      [dataObjectYear]="dataObject.publicationYear"
                      [provenance]="dataObject.provenanceString"
                      [objectInstances]="dataObject.objectInstances"
                    ></app-data-object>
                  </ng-container>
                </ng-container>
              </ng-container>

            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="!study">
        <div class="card-body text-center">
          <h4 class="text-center">Loading...</h4>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #noneTemplate>
  <span>None</span>
</ng-template>
