<div class="row">
  <div class="col-lg-12 col-xxl-12">
    <div class="card card-custom card-stretch" style="height: 100% !important;">
      <div class="card-body">
        <form #searchForm='ngForm' (ngSubmit)="onSearch(searchForm)">
          <div class="row" style="margin-top: 15px !important;">
            <div class="col-xl-3">
              <div class="form-group">
                <select name="selectMode" class="form-control"
                        style="margin-left: 3px !important; border-color: #d9d9d9 !important;"
                        ngbTooltip="{{'SEARCH-PANEL.SELECT-MODE' | translate}}" placement="auto"
                        #selectMode
                        [(ngModel)]="selectedOption"
                        (change)="onChangeSelectMode(selectMode.value)"
                >
                  <option value="title" [translate]="'Title'">
                    Title
                  </option>
                  <option value="doi" [translate]="'DOI'">
                    DOI
                  </option>
                </select>
              </div>
            </div>


            <!-- Search value of the search form -->
            <div class="col-xl-3">
              <div class="form-group">
                <input type="text" class="form-control"
                       name="titleContains" #searchValue
                       ngModel
                       placeholder="{{'SEARCH-PANEL.STUDY-CHARACTERISTICS.TITLE-CONTAINS' | translate}}"
                       style="border-color: #d9d9d9 !important;"
                />
              </div>
            </div>


            <div class="row" style="margin-left: 5px !important;">
              <div class="topbar-item" ngbTooltip="{{'TOOLTIPS.FILTERS' | translate}}">
                <div class="btn btn-icon" id="kt_quick_panel_toggle">
                  <i class="flaticon2-console" style="color: #8c8c8c !important;"></i>
                </div>
              </div>

              <div>
                <button mat-mini-fab color="primary" type="submit" style="margin-left: 5px !important;">
                  <i class="flaticon2-magnifier-tool" style="color: #fff !important;"></i>
                </button>
              </div>

              <a href="#"
                 target="_blank"
                ngbTooltip="{{'TOOLTIPS.HELP-PAGE' | translate}}"
                class="fa fa-question-circle"
                style="position: absolute; top: 8px;
                right: 16px; font-size: 18px; color: #315492;"></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
